
CG/CG\.iml

\.idea/misc\.xml

\.idea/modules\.xml

\.idea/workspace\.xml

CG/\.idea/codeStyles/codeStyleConfig\.xml

CG/\.idea/libraries/CG_Executavel\.xml

CG/\.idea/misc\.xml

CG/\.idea/modules\.xml

CG/\.idea/workspace\.xml

CG/out/production/CG/control/JanelaParteDois\.class

CG/out/production/CG/va1/BibOps\.class

CG/out/production/CG/va1/CameraVirtual\.class

CG/out/production/CG/va1/Iluminacao\.class

CG/out/production/CG/va1/janelaProjetoP2\.fxml

CG/out/production/CG/va1/Objetto_zBuffer\.class

CG/out/production/CG/va1/Ponto2D\.class

CG/out/production/CG/va1/Ponto3D\.class

CG/out/production/CG/va1/ScreenManager\.class

CG/out/production/CG/va1/Testes\.class

CG/out/production/CG/va1/Triangulo\.class
